VITE_SUPABASE_URL=https://supabase.com/dashboard/project/dxhlkyzotakxnxxrivcl
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4aGxreXpvdGFreG54eHJpdmNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4OTI3NzgsImV4cCI6MjA5MDQ2ODc3OH0.Pa1q4Kw1UIJrPvrBgDHiJCoNeA0nC2vI4J6Iu7qEN-U
